.home-main{
    height: 92vh;

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
    "data chart";

    
}

.App-logo{
    grid-area:chart;

    display: flex;
    align-items: center;

}
.App-logo > img{
   
    height: 70vh;
}

.aside-data{
    grid-area:data;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}



