.page-header{
    width: 100vw;
    height: 8vh;

    background-color: var(--blueish-black);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 15px;

    box-shadow: 0 10px 10px -5px #000000ad;

}

.logo{
    font: 600 2rem Archivo;
    color: var(--color-white);
}

.logo img{
    vertical-align: middle;
}

.header-content{
    

    font: 500 1.5rem Archivo;
    color: var(--purple-blue);
}

.options{
    list-style-type:none;

    display: flex;
    flex-direction: row;
}

.options li{
    margin: 0 50px;

}

.options li:hover{
    color: var(--color-white);
    transition: .3s;
    cursor: pointer;
    
}



