.box-data{
    background-color: var(--blueish-black);

    padding: 0px 30px 10px;
    border-radius: 7px;

    box-shadow: 0 10px 10px -5px #000000ad;

    margin: 15px 0;
}
.box-chart{

    display: flex;
    flex: 1;
    justify-content: center;

    height: 100%;
    width: 200px;

}
.box-line-chart{
    display: flex;
    flex: 1;
    justify-content: flex-end;

    height: 40px;
}

.box-chart-legend{
    margin-top: 15px;
}

.box-chart-legend h3{
    color: var(--color-white);
}

.box-chart-legend h2{
    margin-top: 5px;
    color: var(--color-white);
}

.box-chart-legend small{
    margin-top: 5px;
    color: var(--purple-blue);
}

.box-data-list{
    margin-top: 20px;
}


.box-data-list li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    
    list-style-type:none;
    color: var(--color-white);
    font: 500 1.5rem Archivo;
}